<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-03-13T08:05:34Z</date>
	<key>WorkspacePath</key>
	<string>/Users/austinguo550/Documents/CS32 2017/BruinNav/BruinNav.xcodeproj</string>
</dict>
</plist>
